<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.physical_examination_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Student.MyNewsActivity"></activity>
        <activity android:name=".common.InfoEditActivity" />
        <activity android:name=".Student.GradeDetailActivity" />
        <activity android:name=".Student.ExamDetailActivity" />
        <activity android:name=".Admin.StudentEditActivity" />
        <activity android:name=".Admin.ExamEditActivity" />
        <activity android:name=".common.SettingActivity" />
        <activity android:name=".Student.StudentMainActivity" />
        <activity android:name=".Admin.AdminMainActivity" />
        <activity android:name=".Student.ReserveExamActivity" />
        <activity android:name=".Student.MyDetailActivity" />
        <activity android:name=".common.MyAvatarActivity" />
        <activity android:name=".common.UserLoginActivity" />
        <activity android:name=".common.LoginActivity" />
        <activity android:name=".common.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>